<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MZPO.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://www.mzpo-s.ru"
				 allowed="true"
				 allowCredentials="true">
				<allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                     <add method="POST" />
                     <add method="GET" />
				</allowMethods>
            </add>
            <add origin="https://mzpo-s.ru"
				 allowed="true"
				 allowCredentials="true">
				<allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                     <add method="POST" />
                     <add method="GET" />
				</allowMethods>
            </add>
        </cors>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 507ade90-b4fa-4498-baa1-8f446777c5e9-->